{% extends 'layouts/base_sections.html' %}
{% load static %}
{% block title %}
    Add Project
{% endblock title %}
{% block body %}
    class="blog-author bg-gray-100"
{% endblock body %}
{% block header %}
    {% include 'includes/navigation.html' %}
{% endblock header %}
{% block content %}
    <div class="container mt-8">
        <!-- Adds spacing on top -->
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="mb-3">
                    {% if form.instance.pk %}
                        Update Project
                    {% else %}
                        Create Project
                    {% endif %}
                </h2>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'coordinator-project-list' %}"
                           class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
