{% extends 'layouts/base_sections.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}
    Project List
{% endblock title %}
{% block body %}
    class="blog-author bg-gray-100"
{% endblock body %}
{% block header %}
    {% include 'includes/navigation.html' %}
{% endblock header %}
{% block content %}
    <div class="container mt-8">
        <h2 class="mb-4 text-center">My Projects</h2>
        {% if projects %}
            <div class="row mt-3 row-cols-1 row-cols-md-3 g-4">
                {% for project in projects %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                <a href="#" class="d-block">
                                    <img src="./assets/img/kit/pro/anastasia.jpg"
                                         class="img-fluid border-radius-lg">
                                </a>
                            </div>
                            <div class="card-body pt-2">
                                <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ project.start_date|default:"General" }}</span>
                                <a href="#" class="card-title h5 d-block text-darker">{{ project.name }}</a>
                                <p class="card-description mb-4">{{ project.description|default:"No description provided." }}</p>
                                <div class="author align-items-center">
                                    <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg"
                                         alt="..."
                                         class="avatar shadow">
                                    <div class="name ps-3">
                                        <span>{{ project.coordinator }}</span>
                                        <div class="stats">
                                            <small>Due on {{ project.end_date|date:"d F Y" }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'student-group-details' group_id=project_groups|get_item:project.pk %}"
                                   class="btn btn-info">View Group Details</a>
                                <a href="{% url 'student-project-reports' project_group_id=project_groups|get_item:project.pk %}"
                                   class="btn btn-warning">View Project Reports</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">No projects found.</div>
        {% endif %}
    </div>
{% endblock %}
